@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/cIf9MaFatEE-VTaP9C6hZA.ttf) format('truetype');
}
@font-face {
  font-family: 'Blinker';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/cIf4MaFatEE-VTaP_JWEdGYmmA.ttf) format('truetype');
}
